/* Buttons */
.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: darken($primary, 8%);
  border-color: darken($primary, 8%);
}

/* Navbar */
.navbar {
  background-color: $navbar-bg;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: $navbar-light-color;
}

.navbar-nav .nav-link:hover {
  color: $primary;
}

/* Footer */
footer {
  background-color: $footer-bg;
  color: $footer-color;
}
