/* ===============================
   UPF Institutional Colors
   =============================== */

$primary: #8C1D18;
$secondary: #5A0F0B;

$link-color: $primary;
$link-hover-color: darken($primary, 10%);

$navbar-bg: #ffffff;
$navbar-light-color: #000000;
$navbar-light-hover-color: $primary;

$footer-bg: #f5f5f5;
$footer-color: #333333;

$headings-color: #000000;
